.Weather {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  > div {

    .headerDiv {
      margin-bottom: 145px;
      display: flex;
      justify-content: center;

      >div {
        display: inline-block;
        position: relative;
      }

      .inputs {
        display: flex;
        justify-content: center;
      }
    }

    .footerDiv {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

}